.git/
.github/
.venv/
site/
__pycache__/
*.py[cod]
.pip-download/
.pip-tmp/
.pip-workaround/
.pytest_cache/
pytest-cache-files-*/
uvicorn*.log

docs/
tests/
scripts/

.gitignore
docker-compose.yml
README.md
mkdocs.yml
pyproject.toml
